.header {
  padding: 15px 0;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: rgba(256, 256, 256, 0.2);
}

.header__logo {
  fill: url(#logo__gradient);
}
.header__link:hover .header__logo,
.header__link:focus .header__logo {
  fill: url(#logo__gradient--hover);
}

.header__link:active .header__logo {
  fill: url(#logo__gradient--active);
}
